#main{
  border: black solid 7px;
  background: plum;
  height: 100vh;
  width: 100vw;
}
.burger{
  background: url(burger.jpg);
  background-position: center;
  background-size: cover;
  height: 8em;
  width: 8em;
  padding: 1em;
  border: black solid 3px;
}
h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  text-align: center;
}
h1{

  font-size: 3em;
  text-align: center;
  padding-bottom: 1em;
}
.burgers{
  width: 100%;
  height: 16em;
  /* border: yellow solid 2px; */
}
form{
  text-align: center;
  padding-bottom: 2em;
}
#eaten{
  width: 50%;
}