.burger{
  /* height: 5em;
  width: 5em;
  padding: 1em;
  border: black solid 3px; */
  background: url(burger.jpg);
  background-position: center;
  background-size: cover;
  height: 8em;
  width: 8em;
  padding: 1em;
  border: black solid 3px;
}
h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  text-align: center;

}
h1{
  font-size: 3em;
  text-align: center;
  padding-bottom: 1em;
}